<html>
 <head>
  <title>Stock Market Quotes in Slack: Help</title>
  <%= partial 'public/partials/_head.html.erb' %>
 </head>
 <body style="text-align: center">
  <p style="margin: 50px;">
    <a href="/"><img src='img/icon.png' width="120px"></a>
  </p>
  <p>
    <h3>Stock Market Quotes in Slack: Help</h3>
  </p>
  <p>
    Invite <b>@market</b> to a channel. Mention a stock ticker and its price will appear in Slack.
  </p>
  <p>
    <img src='img/market.gif'>
  </p>
  <p>
    The bot will try to respond to anything UPPERCASE longer than 2 characters or anything $UPPERCASE, prefixed with a dollar sign.<br>
  </p>
  <p>
    You can <b>set dollars on</b> to always require a dollar sign if you think the bot is too spammy.
  </p>
  <p>
    <img src='img/dollars.gif'>
  </p>
  <p>
    You can <b>set charts off</b> to prevent charts from being displayed.
  </p>
  <p>
    <img src='img/charts.gif'>
  </p>
  <p>
    You can <b>set bots on</b> to allow interaction with bots, such as IFFTT.
  </p>
  <h4>Buying and Selling</h4>
  <p>
    You can record buys with <b>@market bought [symbol]</b> and record sales with <b>@market sold [symbol]</b>.
    <br>
    Approximate price is automatically recorded usng the last market price.
    <br>
    To see all positions use <b>@market positions</b>. To see someone else's positions use <b>@market positions @user</b>.
  </p>
  <%= partial 'public/partials/_footer.html.erb' %>
 </body>
</html>
