---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/DIA/quote?token=access-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"DIA","companyName":"SPDR Dow Jones Industrial Average ETF
        Trust","calculationPrice":"close","open":265.4,"openTime":1560951000062,"close":265.56,"closeTime":1560974400337,"high":266.21,"low":264.63,"latestPrice":265.56,"latestSource":"Close","latestTime":"June
        19, 2019","latestUpdate":1560974400337,"latestVolume":3913714,"iexRealtimePrice":265.53,"iexRealtimeSize":100,"iexLastUpdated":1560974399990,"delayedPrice":265.7,"delayedPriceTime":1560975000009,"extendedPrice":266.2,"extendedChange":0.64,"extendedChangePercent":0.00241,"extendedPriceTime":1560987571924,"previousClose":265.33,"change":0.23,"changePercent":0.00087,"iexMarketPercent":0.005199153540601076,"iexVolume":20348,"avgTotalVolume":3879116,"iexBidPrice":0,"iexBidSize":0,"iexAskPrice":0,"iexAskSize":0,"marketCap":0,"peRatio":null,"week52High":269.28,"week52Low":216.97,"ytdChange":0.13786900000000002}'
  recorded_at: Thu, 20 Jun 2019 00:53:17 GMT
recorded_with: VCR 4.0.0
