---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/F/quote?token=access-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"F","companyName":"Ford Motor Co.","calculationPrice":"close","open":10.15,"openTime":1560951000253,"close":10.04,"closeTime":1560974473579,"high":10.18,"low":10.03,"latestPrice":10.04,"latestSource":"Close","latestTime":"June
        19, 2019","latestUpdate":1560974473579,"latestVolume":28971938,"iexRealtimePrice":10.04,"iexRealtimeSize":43,"iexLastUpdated":1560974396636,"delayedPrice":10.04,"delayedPriceTime":1560974473604,"extendedPrice":10.07,"extendedChange":0.03,"extendedChangePercent":0.00299,"extendedPriceTime":1560987291070,"previousClose":10.1,"change":-0.06,"changePercent":-0.00594,"iexMarketPercent":0.012549695501902566,"iexVolume":363589,"avgTotalVolume":33545671,"iexBidPrice":0,"iexBidSize":0,"iexAskPrice":0,"iexAskSize":0,"marketCap":40056487600,"peRatio":12.85,"week52High":12.05,"week52Low":7.41,"ytdChange":0.272541}'
  recorded_at: Thu, 20 Jun 2019 00:50:37 GMT
recorded_with: VCR 4.0.0
