---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/quote?token=access-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"MSFT","companyName":"Microsoft Corp.","calculationPrice":"close","open":135.01,"openTime":1560951000443,"close":135.69,"closeTime":1560974400171,"high":135.93,"low":133.81,"latestPrice":135.69,"latestSource":"Close","latestTime":"June
        19, 2019","latestUpdate":1560974400171,"latestVolume":23720230,"iexRealtimePrice":135.76,"iexRealtimeSize":100,"iexLastUpdated":1560974386015,"delayedPrice":135.94,"delayedPriceTime":1560975312180,"extendedPrice":136.02,"extendedChange":0.33,"extendedChangePercent":0.00243,"extendedPriceTime":1560987850569,"previousClose":135.16,"change":0.53,"changePercent":0.00392,"iexMarketPercent":0.019549599645534634,"iexVolume":463721,"avgTotalVolume":24483035,"iexBidPrice":0,"iexBidSize":0,"iexAskPrice":0,"iexAskSize":0,"marketCap":1039768045800,"peRatio":29.89,"week52High":135.93,"week52Low":93.96,"ytdChange":0.34054999999999996}'
  recorded_at: Thu, 20 Jun 2019 00:40:13 GMT
recorded_with: VCR 4.0.0
