---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/quote?token=access-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"MSFT","companyName":"Microsoft Corp.","calculationPrice":"close","open":135.01,"openTime":1560951000443,"close":135.69,"closeTime":1560974400171,"high":135.93,"low":133.81,"latestPrice":135.69,"latestSource":"Close","latestTime":"June
        19, 2019","latestUpdate":1560974400171,"latestVolume":23720230,"iexRealtimePrice":135.76,"iexRealtimeSize":100,"iexLastUpdated":1560974386015,"delayedPrice":135.94,"delayedPriceTime":1560975312180,"extendedPrice":136.02,"extendedChange":0.33,"extendedChangePercent":0.00243,"extendedPriceTime":1560987850569,"previousClose":135.16,"change":0.53,"changePercent":0.00392,"iexMarketPercent":0.019549599645534634,"iexVolume":463721,"avgTotalVolume":24483035,"iexBidPrice":0,"iexBidSize":0,"iexAskPrice":0,"iexAskSize":0,"marketCap":1039768045800,"peRatio":29.89,"week52High":135.93,"week52Low":93.96,"ytdChange":0.34054999999999996}'
  recorded_at: Thu, 20 Jun 2019 00:47:23 GMT
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/AABA/quote?token=access-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"AABA","companyName":"Altaba, Inc.","calculationPrice":"close","open":69.12,"openTime":1560951000562,"close":68.48,"closeTime":1560974400428,"high":69.5,"low":68.04,"latestPrice":68.48,"latestSource":"Close","latestTime":"June
        19, 2019","latestUpdate":1560974400428,"latestVolume":3819710,"iexRealtimePrice":68.49,"iexRealtimeSize":300,"iexLastUpdated":1560974390063,"delayedPrice":68.48,"delayedPriceTime":1560974400428,"extendedPrice":68.5,"extendedChange":0.02,"extendedChangePercent":0.00029,"extendedPriceTime":1560987442625,"previousClose":68.71,"change":-0.23,"changePercent":-0.00335,"iexMarketPercent":0.016713310696361765,"iexVolume":63840,"avgTotalVolume":8289966,"iexBidPrice":0,"iexBidSize":0,"iexAskPrice":0,"iexAskSize":0,"marketCap":41265842560,"peRatio":-4.31,"week52High":81.39,"week52Low":54.75,"ytdChange":0.191814}'
  recorded_at: Thu, 20 Jun 2019 00:47:23 GMT
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/INVALID/quote?token=access-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: Unknown symbol
  recorded_at: Thu, 20 Jun 2019 00:47:23 GMT
recorded_with: VCR 4.0.0
