---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/chart/1d?token=access-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '50'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2019-06-19","minute":"09:30","label":"09:30 AM","high":135.23,"low":135.01,"average":135.157,"volume":2430,"notional":328431.715,"numberOfTrades":26,"marketHigh":135.22,"marketLow":135,"marketAverage":135.053,"marketVolume":558997,"marketNotional":75494299.6197,"marketNumberOfTrades":1290,"open":135.02,"close":135.12,"marketOpen":135,"marketClose":135.16,"changeOverTime":0,"marketChangeOverTime":0},{"date":"2019-06-19","minute":"09:31","label":"09:31
        AM","high":135.285,"low":135.16,"average":135.257,"volume":5395,"notional":729709.665,"numberOfTrades":37,"marketHigh":135.32,"marketLow":135.12,"marketAverage":135.232,"marketVolume":114064,"marketNotional":15425144.4621,"marketNumberOfTrades":553,"open":135.245,"close":135.21,"marketOpen":135.15,"marketClose":135.22,"changeOverTime":0.0007398802873694615,"marketChangeOverTime":0.0013254055815124584},{"date":"2019-06-19","minute":"[...]
