---
http_interactions:
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=0941.HK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - attachment; filename="f.txt"
    body:
      encoding: ASCII-8BIT
      string: |2

        // [
        {
        "symbol" : "0941",
        "exchange" : "HKG",
        "id": "675534",
        "t" : "0941",
        "e" : "HKG",
        "name" : "China Mobile Ltd."
        , "f_reuters_url" : "http:\u002F\u002Fstocks.us.reuters.com\u002Fstocks\u002Fratios.asp?rpc=66\u0026symbol=",
        "f_recent_quarter_date" : "Q2 (Jun \u002717)",
        "f_annual_date" : "2016",
        "f_ttm_date" : "2015",
        "financials" :
        [{
        "f_type" : "Income\u0026nbsp\u003BStatement"
        ,"url" : "http://www.google.com/finance?fstype=ii&q=HKG:0941"
        ,"f_figures" :
        [
        {
        "title" : ""
        ,"recent_quarter" : "388,871.00"
        ,"annual" : "708,421.00"
        ,"ttm" : "668,335.00"
        },
        {
        "title" : ""
        ,"recent_quarter" : "-"
        ,"annual" : "-"
        ,"ttm" : "-"
        },
        {
        "title" : ""
        ,"recent_quarter" : "-"
        ,"annual" : "-"
        ,"ttm" : "-"
        },
        {
        "title" : ""
        ,"recent_quarter" : "-"
        ,"annual" : "-"
        ,"ttm" : "-"
        },
        {
        "title" : ""
        ,"recent_quarter" : "-"
        ,"annual" : "-"
        ,"ttm" : "-"
        },[...]
[...]
