---
http_interactions:
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=300024.SZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=UTF-8
      Content-Disposition: attachment; filename="f.txt"
    body:
      encoding: UTF-8
      string: |2

        // [
        {
        "symbol" : "300024",
        "exchange" : "SHE",
        "id": "5990333",
        "t" : "300024",
        "e" : "SHE",
        "name" : "Siasun Robot\u0026Automation Co Ltd"
        , "f_reuters_url" : "http:\u002F\u002Fstocks.us.reuters.com\u002Fstocks\u002Fratios.asp?rpc=66\u0026symbol=300024.SZ",
        "f_recent_quarter_date" : "Q3 (Sep \u002713)",
        "f_annual_date" : "2012",
        "f_ttm_date" : "2011",
        "financials" :
        [{
        "f_type" : "Income\u0026nbsp\u003BStatement"
        ,"url" : "http://www.google.com/finance?fstype=ii&q=SHE:300024"
        ,"f_figures" :
        [
        {
        "title" : ""
        ,"recent_quarter" : "829.78"
        ,"annual" : "1,044.42"
        ,"ttm" : "783.56"
        },
        {
        "title" : ""
        ,"recent_quarter" : "-"
        ,"annual" : "-"
        ,"ttm" : "-"
        },
        {
        "title" : ""
        ,"recent_quarter" : "-"
        ,"annual" : "-"
        ,"ttm" : "-"
        },
        {
        "title" : ""
        ,"recent_quarter" : "594.24"
        ,"annual" : "752.59"
        ,"ttm" : "546.10"
        },
        {
        "title" : ""
        ,"recent_quarter" : "2.71"
        ,"annual" : "6.79"
        ,"ttm"[...]
