---
http_interactions:
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=UTF-8
      Content-Disposition: attachment; filename="f.txt"
    body:
      encoding: UTF-8
      string: |2

        // [
        {
        "symbol" : "BTCUSD",
        "exchange" : "CURRENCY",
        "id": "347079661032491",
        "t" : "BTCUSD",
        "e" : "CURRENCY",
        "name" : "Bitcoin"
        }]
  recorded_at: Sat, 02 Dec 2017 00:49:56 GMT
recorded_with: VCR 3.0.3
