---
http_interactions:
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=DIA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=UTF-8
      Content-Disposition: attachment; filename="f.txt"
    body:
      encoding: UTF-8
      string: |2

        // [
        {
        "symbol" : "DIA",
        "exchange" : "NYSEARCA",
        "id": "697410",
        "t" : "DIA",
        "e" : "NYSEARCA",
        "name" : "SPDR Dow Jones Industrial Average ETF"
        , "f_reuters_url" : "http:\u002F\u002Fstocks.us.reuters.com\u002Fstocks\u002Fratios.asp?rpc=66\u0026symbol=DIA",
        "f_recent_quarter_date" : "Q4 (Oct \u002715)",
        "f_annual_date" : "2015",
        "f_ttm_date" : "2014",
        "financials" :
        [{
        "f_type" : "Income\u0026nbsp\u003BStatement"
        ,"url" : "http://www.google.com/finance?fstype=ii&q=NYSEARCA:DIA"
        ,"f_figures" :
        [
        {
        "title" : ""
        ,"recent_quarter" : "143.77"
        ,"annual" : "286.24"
        ,"ttm" : "262.01"
        },
        {
        "title" : ""
        ,"recent_quarter" : "-"
        ,"annual" : "-"
        ,"ttm" : "-"
        },
        {
        "title" : ""
        ,"recent_quarter" : "143.77"
        ,"annual" : "286.24"
        ,"ttm" : "262.01"
        },
        {
        "title" : ""
        ,"recent_quarter" : "-"
        ,"annual" : "-"
        ,"ttm" : "-"
        },
        {
        "title" : ""
        ,"recent_quarter" : "-"
        ,"annual" : "-"
        ,"ttm" : "-"[...]
