---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/DIA/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: UTF-8
      string: '{"symbol":"DIA","companyName":"SPDR Dow Jones Industrial Average","primaryExchange":"NYSE
        Arca","sector":"","calculationPrice":"tops","open":240,"openTime":1521811800156,"close":239.36,"closeTime":1521748800612,"high":240.843,"low":238.09,"latestPrice":238.95,"latestSource":"IEX
        real time price","latestTime":"12:16:06 PM","latestUpdate":1521821766470,"latestVolume":3035022,"iexRealtimePrice":238.95,"iexRealtimeSize":100,"iexLastUpdated":1521821766470,"delayedPrice":238.958,"delayedPriceTime":1521821545763,"previousClose":239.36,"change":0.41,"changePercent":-0.00171,"iexMarketPercent":0.00454,"iexVolume":13779,"avgTotalVolume":6712252,"iexBidPrice":233.15,"iexBidSize":100,"iexAskPrice":239.56,"iexAskSize":100,"marketCap":20488258070,"peRatio":null,"week52High":265.93,"week52Low":203.64,"ytdChange":-0.030143116289227622}'
  recorded_at: Fri, 23 Mar 2018 16:27:30 GMT
recorded_with: VCR 3.0.3
