---
http_interactions:
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=F
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=UTF-8
      Content-Disposition: attachment; filename="f.txt"
    body:
      encoding: UTF-8
      string: |2

        // [
        {
        "symbol" : "F",
        "exchange" : "NYSE",
        "id": "13606",
        "t" : "F",
        "e" : "NYSE",
        "name" : "Ford Motor Company"
        , "f_reuters_url" : "http:\u002F\u002Fstocks.us.reuters.com\u002Fstocks\u002Fratios.asp?rpc=66\u0026symbol=F",
        "f_recent_quarter_date" : "Q3 (Sep \u002717)",
        "f_annual_date" : "2016",
        "f_ttm_date" : "2015",
        "financials" :
        [{
        "f_type" : "Income\u0026nbsp\u003BStatement"
        ,"url" : "http://www.google.com/finance?fstype=ii&q=NYSE:F"
        ,"f_figures" :
        [
        {
        "title" : ""
        ,"recent_quarter" : "36,451.00"
        ,"annual" : "151,800.00"
        ,"ttm" : "149,558.00"
        },
        {
        "title" : ""
        ,"recent_quarter" : "-"
        ,"annual" : "-"
        ,"ttm" : "-"
        },
        {
        "title" : ""
        ,"recent_quarter" : "36,451.00"
        ,"annual" : "151,800.00"
        ,"ttm" : "149,558.00"
        },
        {
        "title" : ""
        ,"recent_quarter" : "32,561.00"
        ,"annual" : "122,092.00"
        ,"ttm" : "126,495.00"
        },
        {
        "title" : ""
        ,"recent_quarter" : "3,890.[...]
