---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/F/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: UTF-8
      string: '{"symbol":"F","companyName":"Ford Motor Company","primaryExchange":"New
        York Stock Exchange","sector":"Consumer Cyclical","calculationPrice":"tops","open":10.78,"openTime":1521811866470,"close":10.75,"closeTime":1521748895285,"high":10.85,"low":10.6,"latestPrice":10.645,"latestSource":"IEX
        real time price","latestTime":"12:27:24 PM","latestUpdate":1521822444278,"latestVolume":15765802,"iexRealtimePrice":10.645,"iexRealtimeSize":100,"iexLastUpdated":1521822444278,"delayedPrice":10.615,"delayedPriceTime":1521821547030,"previousClose":10.75,"change":-0.105,"changePercent":-0.00977,"iexMarketPercent":0.02275,"iexVolume":358672,"avgTotalVolume":44791807,"iexBidPrice":10.64,"iexBidSize":100,"iexAskPrice":10.65,"iexAskSize":2400,"marketCap":42296328378,"peRatio":6.01,"week52High":13.48,"week52Low":10.14,"ytdChange":-0.13008294557960753}'
  recorded_at: Fri, 23 Mar 2018 16:27:29 GMT
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=error
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"9jtIrSoDMvGlq","slug":"error-9jtIrSoDMvGlq","url":"https:\/\/giphy.com\/gifs\/error-9jtIrSoDMvGlq","bitly_gif_url":"http:\/\/gph.is\/2cUG6WK","bitly_url":"http:\/\/gph.is\/2cUG6WK","embed_url":"https:\/\/giphy.com\/embed\/9jtIrSoDMvGlq","username":"","source":"http:\/\/metro.co.uk\/2016\/03\/18\/this-one-error-could-ruin-your-chances-at-finding-love-when-online-dating-5759740\/","content_url":"","source_tld":"metro.co.uk","source_post_url":"http:\/\/metro.co.uk\/2016\/03\/18\/this-one-error-could-ruin-your-chances-at-finding-love-when-online-dating-5759740\/","is_indexable":0,"is_sticker":0,"import_datetime":"2016-09-18
        09:35:00","trending_datetime":"0000-00-00 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200_s.gif","width":"483","height":"200"},"original_still":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy_s.gif","width":"488","height":"202"},"fixed_width":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200w.gif","width":"200","height":"83","size":"78524","mp4":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200w.mp4","mp4_size":"13568","webp":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200w.webp","webp_size":"69468"},"fixed_height_small_still":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/100_s.gif","width":"242","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200_d.gif","width":"483","height":"200","size":"159956","webp":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200_d.webp","webp_size":"110162"},"preview":{"width":"322","height":"132","mp4":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy-preview.mp4","mp4_size":"28497"},"fixed_height_small":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/100.gif","width":"242","height":"100","size":"109987","mp4":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/100.mp4","mp4_size":"16853","webp":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/100.webp","webp_size":"91262"},"downsized_still":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy-downsized_s.gif","width":"488","height":"202","size":"28965"},"downsized":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy-downsized.gif","width":"488","height":"202","size":"457246"},"downsized_large":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy.gif","width":"488","height":"202","size":"457246"},"fixed_width_small_still":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/100w_s.gif","width":"100","height":"41"},"preview_webp":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy-preview.webp","width":"227","height":"94","size":"49246"},"fixed_width_still":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200w_s.gif","width":"200","height":"83"},"fixed_width_small":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/100w.gif","width":"100","height":"41","size":"24676","mp4":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/100w.mp4","mp4_size":"6130","webp":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/100w.webp","webp_size":"24788"},"downsized_small":{"width":"488","height":"202","mp4":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy-downsized-small.mp4","mp4_size":"114170"},"fixed_width_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200w_d.gif","width":"200","height":"83","size":"30474","webp":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200w_d.webp","webp_size":"26004"},"downsized_medium":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy.gif","width":"488","height":"202","size":"457246"},"original":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy.gif","width":"488","height":"202","size":"457246","frames":"16","mp4":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy.mp4","mp4_size":"55564","webp":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy.webp","webp_size":"331502"},"fixed_height":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200.gif","width":"483","height":"200","size":"421276","mp4":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200.mp4","mp4_size":"44092","webp":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200.webp","webp_size":"293334"},"looping":{"mp4":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy-loop.mp4","mp4_size":"535450"},"original_mp4":{"width":"480","height":"198","mp4":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy.mp4","mp4_size":"55564"},"preview_gif":{"url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy-preview.gif","width":"198","height":"82","size":"49528"},"480w_still":{"url":"9jtIrSoDMvGlq\/480w_s.jpg","width":"480","height":"199"}},"title":"error
        GIF","image_original_url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy.gif","image_url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy.gif","image_mp4_url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/giphy.mp4","image_frames":"16","image_width":"488","image_height":"202","fixed_height_downsampled_url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200_d.gif","fixed_height_downsampled_width":"483","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"83","fixed_height_small_url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/100.gif","fixed_height_small_still_url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/100_s.gif","fixed_height_small_width":"242","fixed_height_small_height":"100","fixed_width_small_url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/100w.gif","fixed_width_small_still_url":"https:\/\/media0.giphy.com\/media\/9jtIrSoDMvGlq\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"41","caption":""},"meta":{"status":200,"msg":"OK","response_id":"5ab52af175424d3659d2dbd6"}}'
  recorded_at: Fri, 23 Mar 2018 16:27:29 GMT
recorded_with: VCR 3.0.3
