---
http_interactions:
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=INVALID
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=UTF-8
      Content-Disposition: attachment; filename="f.txt"
    body:
      encoding: UTF-8
      string: |-
        {
          "start": "",
          "num": "",
          "num_company_results": "0",
          "num_mf_results": "0",
          "num_all_results": "",
          "original_query": "INVALID",
          "query_for_display": "INVALID",
          "results_type": "DEFAULT",
          "searchresults": [

          ],
          "mf_searchresults": [

          ]
        }
  recorded_at: Sat, 02 Dec 2017 00:49:55 GMT
recorded_with: VCR 3.0.3
