---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: UTF-8
      string: '{"symbol":"MSFT","companyName":"Microsoft Corporation","primaryExchange":"Nasdaq
        Global Select","sector":"Technology","calculationPrice":"tops","open":89.45,"openTime":1521811800352,"close":89.79,"closeTime":1521748800315,"high":90.46,"low":88.93,"latestPrice":89.36,"latestSource":"IEX
        real time price","latestTime":"12:24:00 PM","latestUpdate":1521822240173,"latestVolume":14548250,"iexRealtimePrice":89.36,"iexRealtimeSize":100,"iexLastUpdated":1521822240173,"delayedPrice":89.34,"delayedPriceTime":1521821364388,"previousClose":89.79,"change":-0.43,"changePercent":-0.00479,"iexMarketPercent":0.03171,"iexVolume":461325,"avgTotalVolume":32176892,"iexBidPrice":87.1,"iexBidSize":100,"iexAskPrice":89.37,"iexAskSize":100,"marketCap":688053489255,"peRatio":27.08,"week52High":97.24,"week52Low":64.35,"ytdChange":0.049583743433526506}'
  recorded_at: Fri, 23 Mar 2018 16:24:28 GMT
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/GOOG/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iex[...]
