---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: UTF-8
      string: '{"symbol":"MSFT","companyName":"Microsoft Corporation","primaryExchange":"Nasdaq
        Global Select","sector":"Technology","calculationPrice":"tops","open":89.45,"openTime":1521811800352,"close":89.79,"closeTime":1521748800315,"high":90.46,"low":88.93,"latestPrice":89.24,"latestSource":"IEX
        real time price","latestTime":"12:21:37 PM","latestUpdate":1521822097363,"latestVolume":14356828,"iexRealtimePrice":89.24,"iexRealtimeSize":1500,"iexLastUpdated":1521822097363,"delayedPrice":89.12,"delayedPriceTime":1521821203239,"previousClose":89.79,"change":-0.545,"changePercent":-0.00607,"iexMarketPercent":0.03039,"iexVolume":436304,"avgTotalVolume":32176892,"iexBidPrice":87.1,"iexBidSize":100,"iexAskPrice":91.54,"iexAskSize":100,"marketCap":687168013077,"peRatio":27.04,"week52High":97.24,"week52Low":64.35,"ytdChange":0.049583743433526506}'
  recorded_at: Fri, 23 Mar 2018 16:21:45 GMT
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=error
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"l8iAsPzsD8s6I","slug":"l8iAsPzsD8s6I","url":"https:\/\/giphy.com\/gifs\/l8iAsPzsD8s6I","bitly_gif_url":"https:\/\/gph.is\/28PpkDx","bitly_url":"https:\/\/gph.is\/28PpkDx","embed_url":"https:\/\/giphy.com\/embed\/l8iAsPzsD8s6I","username":"","source":"https:\/\/imgur.com\/gallery\/Mevynti","content_url":"","source_tld":"imgur.com","source_post_url":"https:\/\/imgur.com\/gallery\/Mevynti","is_indexable":0,"is_sticker":0,"import_datetime":"2016-06-24
        04:38:35","trending_datetime":"1970-01-01 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200_s.gif","width":"133","height":"200"},"original_still":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy_s.gif","width":"600","height":"900"},"fixed_width":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200w.gif","width":"200","height":"300","size":"27161","mp4":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200w.mp4","mp4_size":"12305","webp":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200w.webp","webp_size":"23486"},"fixed_height_small_still":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/100_s.gif","width":"67","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200_d.gif","width":"133","height":"200","size":"15363","webp":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200_d.webp","webp_size":"12790"},"preview":{"width":"212","height":"318","mp4":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy-preview.mp4","mp4_size":"41894"},"fixed_height_small":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/100.gif","width":"67","height":"100","size":"5355","mp4":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/100.mp4","mp4_size":"4202","webp":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/100.webp","webp_size":"4472"},"downsized_still":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy-downsized_s.gif","width":"600","height":"900","size":"71898"},"downsized":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy-downsized.gif","width":"600","height":"900","size":"149156"},"downsized_large":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy.gif","width":"600","height":"900","size":"149156"},"fixed_width_small_still":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/100w_s.gif","width":"100","height":"150"},"preview_webp":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy-preview.webp","width":"387","height":"581","size":"49708"},"fixed_width_still":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200w_s.gif","width":"200","height":"300"},"fixed_width_small":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/100w.gif","width":"100","height":"150","size":"9650","mp4":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/100w.mp4","mp4_size":"5830","webp":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/100w.webp","webp_size":"8498"},"downsized_small":{"width":"600","height":"900","mp4":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy-downsized-small.mp4","mp4_size":"59976"},"fixed_width_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200w_d.gif","width":"200","height":"300","size":"27161","webp":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200w_d.webp","webp_size":"23486"},"downsized_medium":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy.gif","width":"600","height":"900","size":"149156"},"original":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy.gif","width":"600","height":"900","size":"149156","frames":"2","mp4":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy.mp4","mp4_size":"30120","webp":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy.webp","webp_size":"96980"},"fixed_height":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200.gif","width":"133","height":"200","size":"15363","mp4":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200.mp4","mp4_size":"8146","webp":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200.webp","webp_size":"12790"},"hd":{"width":"600","height":"900","mp4":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy-hd.mp4","mp4_size":"58543"},"looping":{"mp4":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy-loop.mp4","mp4_size":"226795"},"original_mp4":{"width":"480","height":"720","mp4":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy.mp4","mp4_size":"30120"},"preview_gif":{"url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy-preview.gif","width":"363","height":"544","size":"48374"},"480w_still":{"url":"https:\/\/media3.giphy.com\/media\/l8iAsPzsD8s6I\/480w_s.jpg","width":"480","height":"720"}},"title":"error
        sexiness GIF","image_original_url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy.gif","image_url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy.gif","image_mp4_url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/giphy.mp4","image_frames":"2","image_width":"600","image_height":"900","fixed_height_downsampled_url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200_d.gif","fixed_height_downsampled_width":"133","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"300","fixed_height_small_url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/100.gif","fixed_height_small_still_url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/100_s.gif","fixed_height_small_width":"67","fixed_height_small_height":"100","fixed_width_small_url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/100w.gif","fixed_width_small_still_url":"https:\/\/media2.giphy.com\/media\/l8iAsPzsD8s6I\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"150","caption":""},"meta":{"status":200,"msg":"OK","response_id":"5ab52aed3143344b6b84110d"}}'
  recorded_at: Fri, 23 Mar 2018 16:27:25 GMT
recorded_with: VCR 3.0.3
