---
http_interactions:
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=MSFT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=UTF-8
      Content-Disposition: attachment; filename="f.txt"
    body:
      encoding: UTF-8
      string: |2

        // [
        {
        "symbol" : "MSFT",
        "exchange" : "NASDAQ",
        "id": "358464",
        "t" : "MSFT",
        "e" : "NASDAQ",
        "name" : "Microsoft Corporation"
        , "f_reuters_url" : "http:\u002F\u002Fstocks.us.reuters.com\u002Fstocks\u002Fratios.asp?rpc=66\u0026symbol=MSFT.O",
        "f_recent_quarter_date" : "Q3 (Sep \u002717)",
        "f_annual_date" : "2017",
        "f_ttm_date" : "2016",
        "financials" :
        [{
        "f_type" : "Income\u0026nbsp\u003BStatement"
        ,"url" : "http://www.google.com/finance?fstype=ii&q=NASDAQ:MSFT"
        ,"f_figures" :
        [
        {
        "title" : ""
        ,"recent_quarter" : "24,538.00"
        ,"annual" : "89,950.00"
        ,"ttm" : "85,320.00"
        },
        {
        "title" : ""
        ,"recent_quarter" : "-"
        ,"annual" : "-"
        ,"ttm" : "-"
        },
        {
        "title" : ""
        ,"recent_quarter" : "24,538.00"
        ,"annual" : "89,950.00"
        ,"ttm" : "85,320.00"
        },
        {
        "title" : ""
        ,"recent_quarter" : "8,278.00"
        ,"annual" : "34,261.00"
        ,"ttm" : "32,780.00"
        },
        {
        "title" : ""
        ,"recent_quarter" : "16,260.00"
 [...]
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=AABA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=UTF-8
      Content-Disposition: attachment; filename="f.txt"
    body:
      encoding: UTF-8
      string: |2

        // [
        {
        "symbol" : "AABA",
        "exchange" : "NASDAQ",
        "id": "658890",
        "t" : "AABA"[...]
