---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: UTF-8
      string: '{"symbol":"MSFT","companyName":"Microsoft Corporation","primaryExchange":"Nasdaq
        Global Select","sector":"Technology","calculationPrice":"tops","open":89.45,"openTime":1521811800352,"close":89.79,"closeTime":1521748800315,"high":90.46,"low":88.93,"latestPrice":89.565,"latestSource":"IEX
        real time price","latestTime":"12:27:21 PM","latestUpdate":1521822441271,"latestVolume":14700404,"iexRealtimePrice":89.565,"iexRealtimeSize":100,"iexLastUpdated":1521822441271,"delayedPrice":89.15,"delayedPriceTime":1521821542544,"previousClose":89.79,"change":-0.225,"changePercent":-0.00251,"iexMarketPercent":0.0322,"iexVolume":473353,"avgTotalVolume":32176892,"iexBidPrice":89.51,"iexBidSize":100,"iexAskPrice":91.54,"iexAskSize":100,"marketCap":689631946789,"peRatio":27.14,"week52High":97.24,"week52Low":64.35,"ytdChange":0.049583743433526506}'
  recorded_at: Fri, 23 Mar 2018 16:27:24 GMT
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/AABA/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iex[...]
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/INVALID/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: ASCII-8BIT
      string: Unknown symbol
  recorded_at: Fri, 23 Mar 2018 16:27:24 GMT
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=error
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"YLkKxwHDSM1y","slug":"YLkKxwHDSM1y","url":"https:\/\/giphy.com\/gifs\/YLkKxwHDSM1y","bitly_gif_url":"http:\/\/gph.is\/29czpfU","bitly_url":"http:\/\/gph.is\/29czpfU","embed_url":"https:\/\/giphy.com\/embed\/YLkKxwHDSM1y","username":"","source":"http:\/\/imgur.com\/gallery\/N2SWmjI","content_url":"","source_tld":"imgur.com","source_post_url":"http:\/\/imgur.com\/gallery\/N2SWmjI","is_indexable":0,"is_sticker":0,"import_datetime":"2016-06-30
        06:46:48","trending_datetime":"1970-01-01 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200_s.gif","width":"113","height":"200"},"original_still":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy_s.gif","width":"480","height":"852"},"fixed_width":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200w.gif","width":"200","height":"355","size":"10589413","mp4":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200w.mp4","mp4_size":"450646","webp":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200w.webp","webp_size":"3117388"},"fixed_height_small_still":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/100_s.gif","width":"56","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200_d.gif","width":"113","height":"200","size":"61945","webp":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200_d.webp","webp_size":"19606"},"preview":{"width":"240","height":"428","mp4":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy-preview.mp4","mp4_size":"28577"},"fixed_height_small":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/100.gif","width":"56","height":"100","size":"1384641","mp4":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/100.mp4","mp4_size":"42303","webp":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/100.webp","webp_size":"576212"},"downsized_still":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy-tumblr_s.gif","width":"140","height":"250"},"downsized":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy-tumblr.gif","width":"140","height":"250","size":"825811"},"downsized_large":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy-downsized-large.gif","width":"384","height":"681","size":"6879418"},"fixed_width_small_still":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/100w_s.gif","width":"100","height":"178"},"fixed_width_still":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200w_s.gif","width":"200","height":"355"},"fixed_width_small":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/100w.gif","width":"100","height":"178","size":"3589303","mp4":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/100w.mp4","mp4_size":"45114","webp":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/100w.webp","webp_size":"1248904"},"downsized_small":{"width":"127","height":"226","mp4":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy-downsized-small.mp4","mp4_size":"128192"},"fixed_width_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200w_d.gif","width":"200","height":"355","size":"150215","webp":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200w_d.webp","webp_size":"41686"},"downsized_medium":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy-downsized-medium.gif","width":"291","height":"517","size":"3525011"},"original":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy.gif","width":"480","height":"852","size":"50453616","frames":"461","mp4":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy.mp4","mp4_size":"1765498","webp":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy.webp","webp_size":"11800756"},"fixed_height":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200.gif","width":"113","height":"200","size":"4237712","mp4":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200.mp4","mp4_size":"184211","webp":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200.webp","webp_size":"1467080"},"hd":{"width":"480","height":"852","mp4":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy-hd.mp4","mp4_size":"1765498"},"looping":{"mp4":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy-loop.mp4","mp4_size":"686441"},"original_mp4":{"width":"480","height":"852","mp4":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy.mp4","mp4_size":"1765498"},"preview_gif":{"url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy-preview.gif","width":"82","height":"146","size":"49853"},"480w_still":{"url":"YLkKxwHDSM1y\/480w_s.jpg","width":"480","height":"852"}},"title":"error
        GIF","image_original_url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy.gif","image_url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy.gif","image_mp4_url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/giphy.mp4","image_frames":"461","image_width":"480","image_height":"852","fixed_height_downsampled_url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200_d.gif","fixed_height_downsampled_width":"113","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"355","fixed_height_small_url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/100.gif","fixed_height_small_still_url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/100_s.gif","fixed_height_small_width":"56","fixed_height_small_height":"100","fixed_width_small_url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/100w.gif","fixed_width_small_still_url":"https:\/\/media3.giphy.com\/media\/YLkKxwHDSM1y\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"178","caption":""},"meta":{"status":200,"msg":"OK","response_id":"5ab52af07161547377828fd0"}}'
  recorded_at: Fri, 23 Mar 2018 16:27:28 GMT
recorded_with: VCR 3.0.3
