---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: UTF-8
      string: '{"symbol":"MSFT","companyName":"Microsoft Corporation","primaryExchange":"Nasdaq
        Global Select","sector":"Technology","calculationPrice":"tops","open":89.45,"openTime":1521811800352,"close":89.79,"closeTime":1521748800315,"high":90.46,"low":88.93,"latestPrice":89.52,"latestSource":"IEX
        real time price","latestTime":"12:27:23 PM","latestUpdate":1521822443943,"latestVolume":14708077,"iexRealtimePrice":89.52,"iexRealtimeSize":100,"iexLastUpdated":1521822443943,"delayedPrice":89.17,"delayedPriceTime":1521821546994,"previousClose":89.79,"change":-0.27,"changePercent":-0.00301,"iexMarketPercent":0.03219,"iexVolume":473453,"avgTotalVolume":32176892,"iexBidPrice":87.1,"iexBidSize":100,"iexAskPrice":91.54,"iexAskSize":100,"marketCap":689285456111,"peRatio":27.13,"week52High":97.24,"week52Low":64.35,"ytdChange":0.049583743433526506}'
  recorded_at: Fri, 23 Mar 2018 16:27:30 GMT
recorded_with: VCR 3.0.3
