---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/chart/1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; frame-src 'self'; connect-src 'self' https://auth.iextrading.com
        https://api.iextrading.com https://api.iextrading.com wss://iextrading.com
        wss://tops.iextrading.com wss://api.iextrading.com wss://iextrading.com; script-src
        'self' 'unsafe-inline' 'unsafe-eval';
      Frame-Options:
      - SAMEORIGIN
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"20180817","minute":"09:30","label":"09:30 AM","high":107.355,"low":107.18,"average":107.309,"volume":400,"notional":42923.5,"numberOfTrades":5,"marketHigh":107.5,"marketLow":107.1,"marketAverage":107.274,"marketVolume":1907629,"marketNotional":204639467.1535,"marketNumberOfTrades":824,"open":107.35,"close":107.18,"marketOpen":107.37,"marketClose":107.36,"changeOverTime":0,"marketChangeOverTime":0},{"date":"20180817","minute":"09:31","label":"09:31
        AM","high":107.46,"low":107.37,"average":107.412,"volume":1700,"notional":182601,"numberOfTrades":11,"marketHigh":107.46,"marketLow":107.27,"marketAverage":107.399,"marketVolume":62771,"marketNotional":6741548.9228,"marketNumberOfTrades":458,"open":107.41,"close":107.42,"marketOpen":107.35,"marketClose":107.39,"changeOverTime":0.0009598449337894179,"marketChangeOverTime":0.0011652404124018868},{"date":"20180817","minute":"09:32","labe[...]
