---
http_interactions:
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=ROG.VX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=UTF-8
      Content-Disposition: attachment; filename="f.txt"
    body:
      encoding: UTF-8
      string: |2

        // [
        {
        "symbol" : "ROG",
        "exchange" : "VTX",
        "id": "218997080481826",
        "t" : "ROG",
        "e" : "VTX",
        "name" : "Roche Holding Ltd."
        , "f_reuters_url" : "http:\u002F\u002Fstocks.us.reuters.com\u002Fstocks\u002Fratios.asp?rpc=66\u0026symbol=ROG.S",
        "f_recent_quarter_date" : "",
        "f_annual_date" : "",
        "f_ttm_date" : "",
        "financials" :
        [{
        "f_type" : "Income\u0026nbsp\u003BStatement"
        ,"url" : "http://www.google.com/finance?fstype=ii&q=VTX:ROG"
        ,"f_figures" :
        [
        ]
        },
        {
        "f_type" : "Balance\u0026nbsp\u003BSheet"
        ,"url" : "http://www.google.com/finance?fstype=bi&q=VTX:ROG"
        ,"f_figures" :
        [
        ]
        },
        {
        "f_type" : "Cash\u0026nbsp\u003BFlow"
        ,"url" : "http://www.google.com/finance?fstype=ci&q=VTX:ROG"
        ,"f_figures" :
        [
        ]
        }],
        "kr_recent_quarter_date" : "Q2 (Jun \u002717)",
        "kr_annual_date" : "2016",
        "kr_ttm_date" : "TTM",
        "keyratios" :
        [
        {
        "title" : "Net profit margin",
        "recent_quarter" : "21.17%",
        "annual" : "19.24%",
        "ttm" : "18.97%"
        },
        {
        "title" : "Operating margin",
        "recent_quarter" : "29.54%",
        "annual" : "27.80%",
        "ttm" : "26.41%"
        },
        {
        "title" : "EBITD margin",
        "recent_quarter" : "",
        "annual" : "41.26%",
        "ttm" : "40.93%"
        },
        {
        "title" : "Return on average assets",
        "recent_quarter" : "14.96%",
        "annual" : "12.76%",
        "ttm" : "13.45%"
        },
        {
        "title" : "Return on average equity",
        "recent_quarter" : "46.76%",
        "annual" : "42.66%",
        "ttm" : "46.88%"
        },
        {
        "title" : "Employees",
        "recent_quarter" : "94,052",
        "annual" : "-",
        "ttm" : "-"
        }
        ]
        , "c" : "-0.10",
        "l" : "248.10",
        "cp" : "-0.04",
        "ccol" : "chr",
        "op" : "247.60",
        "hi" : "249.30",
        "lo" : "246.60",
        "vo" : "1.50M",
        "avvo" : "1.84M",
        "hi52" : "273.00",
        "lo52" : "218.30",
        "mc" : "214.06B",
        "pe" : "22.04",
        "fwpe" : "",
        "beta" : "",
        "eps" : "11.25",
        "dy" : "3.31",
        "ldiv" : "8.20",
        "shares" : "693.30M",
        "instown" : "",
        "eo":""
        , "related" : [
        {
        "id" : "218997080481826",
        "name" : "Roche Holding Ltd.",
        "t" : "ROG",
        "e" : "VTX",
        "l" : "248.10",
        "c" : "-0.10",
        "mc" : "214.06B",
        "cp" : "-0.04",
        "ccol" : "chr"
        }
        ,
        {
        "id" : "110153627552734",
        "name" : "Novartis AG",
        "t" : "NOVN",
        "e" : "VTX",
        "l" : "83.80",
        "c" : "-0.40",
        "mc" : "219.07B",
        "cp" : "-0.48",
        "ccol" : [...]
