---
http_interactions:
- request:
    method: get
    uri: https://finance.google.com/finance?output=json&q=Z74.SI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status: {code: 200, message: OK}
    headers:
      Content-Type: application/json; charset=UTF-8
      Content-Disposition: attachment; filename="f.txt"
    body:
      encoding: UTF-8
      string: |2

        // [
        {
        "symbol" : "Z74",
        "exchange" : "SGX",
        "id": "106529171499469",
        "t" : "Z74",
        "e" : "SGX",
        "name" : "Singapore Telecommunications Limited"
        , "f_reuters_url" : "http:\u002F\u002Fstocks.us.reuters.com\u002Fstocks\u002Fratios.asp?rpc=66\u0026symbol=STEL.SI",
        "f_recent_quarter_date" : "",
        "f_annual_date" : "",
        "f_ttm_date" : "",
        "financials" :
        [{
        "f_type" : "Income\u0026nbsp\u003BStatement"
        ,"url" : "http://www.google.com/finance?fstype=ii&q=SGX:Z74"
        ,"f_figures" :
        [
        ]
        },
        {
        "f_type" : "Balance\u0026nbsp\u003BSheet"
        ,"url" : "http://www.google.com/finance?fstype=bi&q=SGX:Z74"
        ,"f_figures" :
        [
        ]
        },
        {
        "f_type" : "Cash\u0026nbsp\u003BFlow"
        ,"url" : "http://www.google.com/finance?fstype=ci&q=SGX:Z74"
        ,"f_figures" :
        [
        ]
        }],
        "kr_recent_quarter_date" : "Q2 (Jun \u002717)",
        "kr_annual_date" : "2017",
        "kr_ttm_date" : "TTM",
        "keyratios" :
        [
        {
        "title" : "Net profit margin",
        "recent_quarter" : "20.94%",
        "annual" : "22.92%",
        "ttm" : "22.17%"
        },
        {
        "title" : "Operating margin",
        "recent_quarter" : "15.88%",
        "annual" : "16.50%",
        "ttm" : "16.25%"
        },
        {
        "title" : "EBITD margin",
        "recent_quarter" : "",
        "annual" : "29.94%",
        "ttm" : "29.56%"
        },
        {
        "title" : "Return on average assets",
        "recent_quarter" : "7.30%",
        "annual" : "8.34%",
        "ttm" : "8.21%"
        },
        {
        "title" : "Return on average equity",
        "recent_quarter" : "12.54%",
        "annual" : "14.50%",
        "ttm" : "14.01%"
        },
        {
        "title" : "Employees",
        "recent_quarter" : "21,724",
        "annual" : "-",
        "ttm" : "-"
        }
        ]
        , "c" : "+0.01",
        "l" : "3.74",
        "cp" : "0.27",
        "ccol" : "chg",
        "op" : "3.73",
        "hi" : "3.76",
        "lo" : "3.73",
        "vo" : "20.30M",
        "avvo" : "20.24M",
        "hi52" : "4.02",
        "lo52" : "3.62",
        "mc" : "61.07B",
        "pe" : "15.95",
        "fwpe" : "",
        "beta" : "",
        "eps" : "0.23",
        "dy" : "4.68",
        "ldiv" : "0.07",
        "shares" : "16.33B",
        "instown" : "",
        "eo":""
        , "related" : [
        {
        "id" : "106529171499469",
        "name" : "Singapore Telecommunications Limited",
        "t" : "Z74",
        "e" : "SGX",
        "l" : "3.74",
        "c" : "+0.01",
        "mc" : "61.07B",
        "cp" : "0.27",
        "ccol" : "chg"
        }
        ,
        {
        "id" : "938460974961717",
        "name" : "StarHub Ltd.",
        "t" : "CC3",
        "e" : "SGX",
        "l" : "2.92",
        "c" : "+0.07",
        "mc" : "5.06B",
        "cp" : "2.46",
       [...]
